/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background */
body {
  background: linear-gradient(to bottom, #ffe6f0, #fff5e6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container */
.container {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Judul */
h1 {
  text-align: center;
  color: #ff4d6d;
}

/* Labels */
label {
  font-weight: bold;
  margin-top: 10px;
}

/* Input & select */
input, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Total */
h3 {
  text-align: center;
  color: #333;
}

/* Tombol */
button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ff4d6d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e6004c;
}
